body {
    margin: 0px;

    padding-bottom: 100px;
}

.menu {
    height: 100px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.menu img {
    height: 100px;
    border-radius: 100%;
    width: 100px;
    margin-left: 30px;
}

.menu p {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
}

.campo-pesquisa {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.campo-pesquisa input {
    height: 60px;
    width: 50%;
    border-radius: 70px;
    font-size: 20px;
    padding-left: 30px;
}

.group-card {
    display: flex;
    justify-content: center;
}

.card {
    width: 219px;
    height: 254px;
    border-radius: 20px;
    margin: 0px 50px 0px 50px;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.card p {
    color: white;
    font-size: 40px;
    margin: 200px 0px 0px 20px;
}



.banner {
    background-color: black;
    width: 100%;
    height: 442px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.card-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 951px;
    height: 320px;
    border-radius: 50px;
}

.card-esquerdo p {
    color: black;
    font-size: 40px;
    font-weight: bold;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: -20px;
}

.card-esquerdo button {
    width: 378px;
    height: 77px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.card-direito {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 951px;
    height: 320px;
    border-radius: 50px;
}

.card-direito img {
    width: 454px;
    height: 250px;
    border-radius: 30px;
}

.container{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    
}
.container h1{
    font-size: 50px;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container h2{
    font-size: 35px;
}
.container p{
    font-size: 25px;
    width: 45%;
    margin-top: -30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-txt{
    margin-left: 50px;
}
.container-img img{
    margin-bottom: -1000px;
    height: 546px;
    width: 614px;
    margin-top: 70px;
    margin-right: 200px;
    border-radius: 100px;
}
.container-img{
    display: flex;
    justify-content: right;
}


.final{
    margin-top: 500px;
    background-color: black;
    color: white;
    height: 570px;
}
.final h1{
    font-size: xx-large;
    padding: 50px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.campopesquisa2{
    justify-content: center;
    display: flex;
}
.final h1{
    font-size: 40px;
}
.campopesquisa2 input {
    height: 60px;
    width: 450px;
    border-radius: 15px;
    border-color: white;
    font-size: 20px;
    color: white;
    background-color: black;
    font-size: 25px;
}
.campopesquisa2 .campopesquisa3 input{
    color: white;
    background-color: darkgoldenrod;
    margin-left: 10px;
    height: 65px;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}
.itens{
    height: 100px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
}
.itens h3{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
    cursor: pointer;
    margin-left: 30px;
}
.itens h4{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    
}
hr{
    margin-top: -40px;
}
.itensdireita{
  display: flex;
  gap: 40px;
}
.redesSociais{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redesSociais img{
    width: 70px;
    height: 70px;
    margin-top: 55px;
    margin-right: 25px;
}